* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    /* width: 100%; */
    /* max-width: 100vw; */
    font-size: 24px;
    background-color: var(--Light-grayish-cyan);
    font-family: Space Mono, Arial, Helvetica, sans-serif;
    /* max-height: 100vh; */
}

.logo {
    margin: auto;
    display: block;
    /* text-align: center; */
    /* margin-left: 50%; */
    /* margin-right: 50%; */
    padding: 3.1rem 0 2.6rem 0;
}

main {
    background-color: white;
    border-radius: 5% 5% 0 0;
    padding: 1.5rem 1.5rem;
    /* width: 100%; */
    /* font-family: Space Mono, Arial, Helvetica, sans-serif; */
}

/* form {
    /* display: block; */
/*} */

.inputs {
    padding: 0 0.5rem;
}

label {
    color: var(--Dark-grayish-cyan);
    font-size: 1rem;
    /* font-weight: 400; */
    /* margin-bottom: 100rem */
}

input {
    display: block;
    width: 100%;
    height: 3rem;
    background-color: var(--Very-light-grayish-cyan);
    border: none;
    /* outline: none; */
    color: var(--Very-dark-cyan);
    background-repeat: no-repeat;
    background-position: 7% 50%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
    font-family: Space Mono, Arial, Helvetica, sans-serif;
    padding: 1rem;
}

/*input:hover {
    /* cursor: pointer; */
    /* border: solid var(--Strong-cyan);
    outline: none; */
    /* border-color: aqua; */
/*}*/

input:focus {
    text-align: right;
    border: solid var(--Strong-cyan);
    outline: none;
}

/* Elimina las flechas en Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Elimina las flechas en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.bill {
    background-image: url(images/icon-dollar.svg);
    margin-bottom: 1.5rem;
}

/* .bill:focus {
    border-color: var(--Strong-cyan);
    
} */

.buttons {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(50%, 50%)); */
    grid-template-columns: 1fr 1fr;
    padding: 0.8rem 0 1.5rem 0;
    gap: 1rem;
    /* max-width: 94.5%; */
    /* justify-self: stretch; */
    /* font-family: Space Mono, Arial, Helvetica, sans-serif; */
}

button {
    border: none;
    background-color: var(--Very-dark-cyan);
    color: white;
    height: 3rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: Space Mono, Arial, Helvetica, sans-serif;
}

.custom {
    background-color: var(--Very-light-grayish-cyan);
    color: var(--Dark-grayish-cyan);
    text-align: right;
    padding-right: 0.8rem;
    letter-spacing: 0.03rem;
}

.Number_of_People {
    background-image: url(images/icon-person.svg);
}

/* .Number_of_People:hover {
    /* margin: 1rem; */

/*} */

.results {
    background-color: var(--Very-dark-cyan);
    border-radius: 20px;
    margin-top: 2.2rem;
    /* width: 100%; */
    padding: 1.5rem;
    padding-top: 2.5rem;
}

.sum {
    display: flex;
    justify-content: space-between;
}

.amount_text {
    color: white;
    font-size: 1rem;
}

.p_results {
    font-size: 0.8rem;
    /* color: white; */
    opacity: 0.4;
}

.total_amount {
    color: var(--Strong-cyan);
    font-size: 2rem;
    /* text-align: right; */

}

.reset {
    background-color: var(--Strong-cyan);
    width: 100%;
    border-radius: 5px;
    color: var(--Very-dark-cyan);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}